.title-header{
  text-transform:uppercase;
}
.titulo{
    /*padding-top:20px; */
    color:#545454;
    /*font-size: 30px;*/
    font-style: animationplay-state;
    font-family: armenian;
    text-shadow: 1px 1px 2px white, 0 0 25px #686DA7, 0 0 9px #000000;
    text-align: center;
    font-style: italic;
}

a{                                    
    text-decoration:none;
}

/*h1.titulo { color: #38383A; font-family: "Great Vibes", cursive; font-size: 30px; line-height: 60px; font-weight: normal; margin-bottom: 0px; margin-top: 10px; text-align: center; text-shadow: 0 1px 1px #fff; }*/

/*p { color: #7a7c7f; font-size: 29px; font-family: "Libre Baskerville", serif; line-height: 45px; text-align: center; text-shadow: 0 1px 1px #fff; padding-top: 20px; }*/

p.vers { 
  font-style: italic; 
  color: #565656; 
  font-size: 16px; 
  margin-top: 16px; 
  text-align: center; 
  text-shadow: 0 1px 1px lightgray;
}
.caption{
  font-size: small;
  text-align: right;
}

.bottom{
  position: absolute;
  left: 100px;
  top: 90%;
  width: 80%;
}
/*ID de la app: ca-app-pub-4110270695525247~2718973010*/

.ui-page, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
  background: url(../img/hojas.png) !important;
  /*background-size:cover;  */
  background-repeat:repeat !important;
}

.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
.transbox p, .transbox h2, .transbox h3 {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}